02-nodered.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e35bb136e46cb569",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Piedra",
        "props": [
            
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "3b41ceaa286c9da6"
            ]
        ]
    },
    {
        "id": "c0717c1fb90fa528",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Papel",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "3b41ceaa286c9da6"
            ]
        ]
    },
    {
        "id": "e23a4424b51003e7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Tijera",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "str",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "3b41ceaa286c9da6"
            ]
        ]
    },
    {
        "id": "3b41ceaa286c9da6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "let jugador = msg.payload;\n\nlet maquina = Math.floor(Math.random() *3)+1;\n\nif (jugador == 1 && maquina == 1 || jugador == 2 && maquina == 2 || jugador == 3 && maquina == 3){\n    msg.payload = 'Empate';\n} else if (jugador == 2 && maquina == 1 || jugador == 1 && maquina == 3 || jugador == 3 && maquina == 2){\n    msg.payload ='Has ganado';\n} else {\n    msg.payload ='has perdido';\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "476dd4db5110a32c"
            ]
        ]
    },
    {
        "id": "476dd4db5110a32c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    }
]